body {
    background-color: rgb(163, 132, 236);;
    text-align: center;
    margin-top: 56px;
}

.navbar {
    background-color: #7070b0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    ;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(163, 132, 236);
}