body {
    background-color: rgb(163, 132, 236);
    text-align: center;
}
.navbar-color{
    background-color: blue;
}

/*Maela 
body {
    background-color: rgb(244, 141, 204);
    text-align: center;
}*/

/*Clara 
body {
    background-color: rgb(163, 132, 236);
    text-align: center;
}*/

/*Thiama
body {
    background-color: #d7c8f9;
    text-align: center;
}*/

/*Ju
body {
    background-color: #d7c8f9;
    text-align: center;
}*/