{% extends 'base.html.twig' %}

{% block title %}New Reservations{% endblock %}

{% block body %}
    <h1>Create new Reservations</h1>

    {# Afficher les messages d'erreur s'il y en a #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {# Inclure le formulaire de création #}
    {{ include('reservations/_form.html.twig') }}

    <a href="{{ path('app_reservations_index') }}">back to list</a>
{% endblock %}
